<%- include('header') -%>

<html>
  <head>
    <title> Soccer News</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    

    <h1> </h1>
    <p> </p>

    <div>
      <h2>Premier League top goal scorers 2022-2023: Updated golden boot rankings</h2>
      <p>Erling Haaland was unable to add to his 17 goals in 11 matches this weekend as he sat out Manchester City's 1-0 win at Leicester City.

        Still, he is well on his way to breaking the Premier League record, needing just 18 goals in the 26 matches remaining to eclipse the mark of 34 scored in a season set by Andy Cole and Alan Shearer.
        
        Tottenham's Harry Kane (10 goals) is the closest among the pursuers, seven goals behind after finding the back of the net against Newcastle. Fulham top scorer Aleksandar Mitrovic is back on his horse after a slight injury layoff, having scored in three straight matches to move him alone in third place.
        
        Behind the top three is Brentford's Ivan Toney, having scored a brace against Brighton and Hove Albion a few weeks ago. Liverpool's Darwin Nunez has started to jump up the list with his game-winner against West Ham on Wednesday, making for his third Premier League goal of the young season. Jamie Vardy finally scored his first goal of a frustrating campaign with Leicester's fourth in a victory over Wolves in mid-October.</p>
    </div>
<div>
  <h2>What channel is Premier League in USA? How to watch 2022-23 EPL matches in the United States</h2>
  <p>How to watch the Premier League in the USA
    Dates: Aug. 5, 2022-May 28, 2023 
    TV channels: NBC, USA Network
    Spanish-language TV: Telemundo, Universo
    Streaming: fuboTV, Peacock (subscribers), NBCSports.com (authenticated cable, satellite & telco subscribers)
    Premier League matches can be seen in the United States across NBC's various broadcast and streaming platforms.
    
    TV channels: The high-profile matches will be aired on free-to-air NBC network television, with a usual time slot of Saturday afternoons at 12:30 p.m. ET. Multiple select matches throughout a matchweek are televised on USA Network.
    
    Spanish-language channels Telemundo and Universo will typically mirror the English-language slate every week.
    
    Live streams: Every match that airs on English- and Spanish-language TV also streams on fuboTV in the USA with those channels carried by the streaming service.
    
    The matches that don't make it on television can be seen on NBC's streaming platform Peacock, which requires a subscription to access.</p>
</div>
<div>
  <h2>PSG vs Troyes live score, stream, highlights, lineups and betting odds from Ligue 1</h2>
  <p>PSG will put their undefeated record on the line Saturday when they host ESTAC Troyes at the Parc des Princes in Matchday 13 of the Ligue 1 season.

    Unbeaten in all 18 matches since the start of the 2022/23 campaign under new manager Christophe Galtier, the Parisian club is in first place, but only two points ahead of RC Lens.
    
    PSG are currently in the midst of a busy period of the campaign with the World Cup on the horizon, but they haven't let up so far. They're coming off a 7-2 dusting of Maccabi Haifa in the Champions League. Unlike recent seasons, Galtier has the club playing with intensity and drive, and Troyes have taken notice based on their coach's pregame comments.
    
    Although ESTAC Troyes are not one of the big names in Ligue 1, they will be far from pushovers after beating AS Monaco 4-2 on the road earlier this season, as well as holding Stade Rennais to a 1-1 draw despite going down to 10 men.
    
    Following three straight losses to start the 2022/23 campaign, 11th-place Troyes have recovered to drop only two of their next nine matches, scoring in each of their last five. Galtier has already warned his own that they need a strong start to set the tone against a young opponent that's only growing in confidence.</p>
</div>









  </body>
</html>
