<%- include('header') -%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qatar Stadiums</title>
</head>
<body>
    <h1>Qatar Stadiums</h1>

    <%stadium.forEach(stadium => {%>
        <h1><%= stadium.stadiumName %></h1>
        <img src="<%= stadium.pictureUrl %>" height="500px" width="800px">
        <h2> Capacity: <%= stadium.capacity %></h2>

   <% }) %>

</body>
</html>